@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #585c68;
/*  font-size: 14px;*/
  line-height: 2.27vh;
  color: #555555;
	min-height: 100vh;
}

.bold {
  font-weight: 700;
  font-size: 1.04vw;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 1.04vw;
}

.resume {
  width: 41.66vw;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 14.58vw;
  background: #0bb5f4;
}

.resume .resume_left .resume_profile {
  width: 15vw;
  height: 28.89vh;
}

.resume .resume_left .resume_profile img {
  width: 15vw;
  height: 0.41vh;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 1.82vw;
  height: 3.92vh;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 0.83vw;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 1.6vw;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 4vw;
  margin: 0 5px;
  height: 0.92vh;
  background: #009fd9;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.41vh;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 27.08vw;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul, 
.resume .resume_right .resume_extra_curricular_activities ul{
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 0.83vw;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before, 
.resume .resume_right .resume_extra_curricular_activities ul li:before{
  content: "";
  position: absolute;
  top: 0.26vw;
  left: -1.30vw;
  width: 0.31vw;
  height: 0.61vh;
  border-radius: 50%;
  border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after, 
.resume .resume_right .resume_extra_curricular_activities ul li:after{
  content: "";
  position: absolute;
  top: 0.72vw;
  left: -1.09vw;
  width: 0.10vw;
  height: 11.86vh;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 4.16vw;
  height: 8.25vh;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 1.56vw;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 2.08vw;
  right: -2.70vw;
  width: 2.60vw;
  height: 0.20vh;
  background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: lightblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 0.62vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 4px;
  text-align: left;    
}

::-webkit-scrollbar{
	width: 0;
}

#scrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}

#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%, 100% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(360deg);
	}
}

#progressbar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(top top, #008aff, #00ffe7);
	filter: blur(10px);
}

#progressbar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(top top, #008aff, #00ffe7);
	filter: blur(30px);
}

